<div class="container my-5">
  <div class="bg-light p-5 rounded shadow-sm">
    <h1 class="mb-4">Checkout</h1>
    <p class="mb-3">¡Gracias por tu compra,
      <span class="fw-bold">{{cliente}}</span>! El número de orden es:
      <span class="fw-bold">{{numTicket}}</span></p>
    <p>Te enviaremos un e-mail a
      <span class="fw-bold">{{email}}</span>
      con toda la información de tu orden.</p>
    <div class="mt-4 d-flex justify-content-center">
      <a class="btn btn-primary me-3" href="/products">Tienda</a>
      <a class="btn btn-secondary" href="/api/users/profile">Mi Perfil</a>
    </div>
  </div>
</div>