body {
  background-color: #333;
}

h1 {
  color: rgba(255, 0, 0, 0.763);
  text-align: center;
}

.containerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 3%;
  text-align: center;
  color: white;
  background-color: #222;
  border-radius: 6px;
  width: 250px;
  height: 150px;
}
